postgresql/*
mysql/*
minio/*
etl_pipeline/etl_pipeline/__pycache__/*
Test/fhv_tripdata_2023-01.csv
Test/green_tripdata_2023-01.csv
Test/yellow_tripdata_2023-01.csv
etl_pipeline/etl_pipeline/.idea/*
etl_pipeline/etl_pipeline/assets/__pycache__/*
etl_pipeline/etl_pipeline/resources/__pycache__/*
dagster_home/.telemetry/*
dagster_home/logs/*
dagster_home/.logs_queue/*
dagster_home/.nux/*
dagster_home/history/*
dagster_home/schedules/*
etl_pipeline/etl_pipeline/resources/__pycache__/*
.idea/*
etl_pipeline/etl_pipeline/resources/__pycache__/minio_io_manager.cpython-39.pyc
Test/*
Test/bronze_yellow_record_2023-01-01.parquet
Test/bronze_yellow_record_2023-01-01.parquet
venv/
.env/
env/
dataset/
**/__pycache__/
__pycache__/

**/test.py
*.py[cod]

elt_pipeline/dbt_movies/logs/*
elt_pipeline/dbt_movies/dbt_pakeges/*
elt_pipeline/dbt_movies/target/*
elt_pipeline/dbt_movies/target/run_results.json

