numpy==1.23.0
polars==0.16.16
pandas==1.5.3
pendulum==1.5.1
dagit==1.2.7
dagster==1.2.7
dagster-postgres==0.18.7
SQLAlchemy==1.4.46
pymysql==1.0.2
pyarrow==14.0.1
fsspec==2023.3.0
minio==7.1.13
connectorx==0.3.1
pyspark==3.3.3
pytz==2022.7.1
pydantic==1.10.2
fastparquet
streamlit
plotly
streamlit_option_menu
query
geopandas
pyproj
folium
streamlit_extras
datetime
dbt-core==1.4.5
dbt-postgres==1.4.5